<div id="control-container" [ngClass]="{'hide-list': hideList}">
    <div id="map-list" class="part">
        <div class="header">
            <h1>Maps</h1>
            <button *ngIf="selectedMap != null" style="float: right;" mat-icon-button (click)="hideList = true">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <button mat-raised-button color="primary" (click)="uploadMap.next()">Upload Map</button>

        <mat-selection-list *ngIf="maps != null" [multiple]="false" (selectionChange)="onMapChange($event)">
            <mat-list-option *ngFor="let mapObj of maps" [value]="mapObj" [selected]="mapObj == selectedMap">
                {{mapObj.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div id="controls-panel" class="part">
        <div class="header">
            <h1>{{selectedMap?.name}}</h1>
            <button *ngIf="selectedMap != null" style="float: left;" mat-icon-button (click)="hideList = false">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>
        
        <!--<h2>Fog</h2>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="paintMode" (change)="paintModeChange.next(paintMode)">
            <mat-radio-button value="paint">Paint</mat-radio-button>
            <mat-radio-button value="erase">Erase</mat-radio-button>
        </mat-radio-group>-->

        <div class="header">
            <h2>Tokens</h2>
            <button *ngIf="selectedMap != null" style="float: right;" mat-icon-button (click)="addToken()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!--<section class="example-container mat-elevation-z8" tabindex="0">-->
        <section class="example-container" tabindex="0">
            <table *ngIf="selectedMap" mat-table [dataSource]="selectedMap.settings.tokens" class="token-table">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let token"> {{token.name}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let token"> {{token.type}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let token"> {{token.size}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let token">
                        <button mat-icon-button color="warn" (click)="deleteToken(token)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button *ngIf="!token.hide" mat-icon-button (click)="token.hide = true;tokensUpdated.next()">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button *ngIf="token.hide" mat-icon-button (click)="token.hide = false;tokensUpdated.next()">
                            <mat-icon>visibility_off</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedToken = row; selectedTokenChange.next(row);"
                    [class.row-is-selected]="selectedToken == row"></tr>
            </table>
        </section>

        <div *ngIf="selectedToken != null; else noToken">
            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedToken.name" (change)="tokensUpdated.next()">
            </mat-form-field>

            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="selectedToken.type" (selectionChange)="tokensUpdated.next()">
                    <mat-option value="player">Player</mat-option>
                    <mat-option value="enemy">Enemy</mat-option>
                    <mat-option value="npc">NPC</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Size</mat-label>
                <mat-select [(ngModel)]="selectedToken.size" (selectionChange)="tokensUpdated.next()">
                    <mat-option value="tiny">Tiny</mat-option>
                    <mat-option value="small">Small</mat-option>
                    <mat-option value="medium">Medium</mat-option>
                    <mat-option value="large">Large</mat-option>
                    <mat-option value="huge">Huge</mat-option>
                    <mat-option value="gargantuan">Gargantuan</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Health</mat-label>
                <input matInput type="number" [(ngModel)]="selectedToken.health" (change)="tokensUpdated.next()">
            </mat-form-field>

            <mat-form-field appearance="fill" class="third-width">
                <mat-label>Max Helath</mat-label>
                <input matInput type="number" [(ngModel)]="selectedToken.maxHealth" (change)="tokensUpdated.next()">
            </mat-form-field>
        </div>

        <ng-template #noToken>
            <div>
                No Selected Token {{selectedToken?.name}}
            </div>
        </ng-template>        

        <div class="footer">
            <button mat-raised-button color="warn" (click)="deleteMapClick()">Delete</button>
        </div>
    </div>
</div>