<mat-toolbar color="primary" class="mat-elevation-z8" style="z-index: 110; position: fixed; top: 0; left: 0;">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="Maps">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngFor="let map of maps" mat-menu-item (click)="setSelectedMap(map)">
            <mat-icon>map</mat-icon>
            <span>{{map.name}}</span>
        </button>
        <button mat-menu-item (click)="uploadMap.next()">
            <mat-icon>add</mat-icon>
            <span>New</span>
        </button>
    </mat-menu>

    <h1 style="margin: 0;">D&D DM Map</h1><span style="width: 50px;"></span>
    <h2 style="margin: 0;" *ngIf="selectedMap">{{selectedMap.name}}</h2>
    
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<button *ngIf="selectedMap" mat-fab color="primary" [matMenuTriggerFor]="addItemMenu" matTooltip="add" style="position: fixed; right: 10px; bottom: 10px;">
    <mat-icon>add</mat-icon>
</button>
<mat-menu #addItemMenu="matMenu">
    <button mat-menu-item (click)="addToken('player')">
        <mat-icon>mood</mat-icon>
        <span>Player</span>
    </button>
    <button mat-menu-item (click)="addToken('npc')">
        <mat-icon>sentiment_satisfied</mat-icon>
        <span>NPC</span>
    </button>
    <button mat-menu-item (click)="addToken('enemy')">
        <mat-icon>sentiment_dissatisfied</mat-icon>
        <span>Enemy</span>
    </button>
</mat-menu>

<mat-card *ngIf="selectedToken" style="position: fixed; left: 10px; bottom: 10px; width: 400px;">
    <mat-card-header>
        <mat-card-title style="color: white; height: 48px; width: 100%; display: flex; justify-content: space-between; align-items: center;">
            <span>{{selectedToken.name}}</span>
            <button *ngIf="!selectedToken.hide" mat-icon-button matTooltip="Hide" (click)="selectedToken.hide = true;tokensUpdated.next()">
                <mat-icon>visibility</mat-icon>
            </button>
            <button *ngIf="selectedToken.hide" mat-icon-button matTooltip="Show" (click)="selectedToken.hide = false;tokensUpdated.next()">
                <mat-icon>visibility_off</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="third-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="selectedToken.name" (change)="tokensUpdated.next()">
        </mat-form-field>
    
        <mat-form-field class="third-width">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="selectedToken.type" (selectionChange)="tokensUpdated.next()">
                <mat-option value="player">Player</mat-option>
                <mat-option value="enemy">Enemy</mat-option>
                <mat-option value="npc">NPC</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="third-width">
            <mat-label>Size</mat-label>
            <mat-select [(ngModel)]="selectedToken.size" (selectionChange)="tokensUpdated.next()">
                <mat-option value="tiny">Tiny</mat-option>
                <mat-option value="small">Small</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="large">Large</mat-option>
                <mat-option value="huge">Huge</mat-option>
                <mat-option value="gargantuan">Gargantuan</mat-option>
            </mat-select>
        </mat-form-field>
    
        <table class="full-width" cellspacing="0">
            <tr>
                <td style="width: 50%;">
                    <mat-form-field style="width: 175px;">
                        <mat-label>Health</mat-label>
                        <input matInput type="number" [(ngModel)]="selectedToken.health" (change)="tokensUpdated.next()">
                    </mat-form-field>
                </td>
                <td style="width: 50%;">
                    <mat-form-field style="width: 175px;">
                        <mat-label>Max Helath</mat-label>
                        <input matInput type="number" [(ngModel)]="selectedToken.maxHealth" (change)="tokensUpdated.next()">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="warn" (click)="deleteToken(selectedToken)">Remove</button>
    </mat-card-actions>
</mat-card>