#whiteboard {
    width: 100vh;
    height: 100vw;
}

#paint-mode-select {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.menu {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 101;
    width: 48px;
    background-color: lightgray;
    border-radius: 24px;
}