<app-whiteboard [selectedMap]="selectedMap" [(selectedToken)]="selectedToken"></app-whiteboard>

<div class="overlay" [ngStyle]="{'display': (showOverlay) ? 'block' : 'none'}"></div>

<app-controls
    [(selectedMap)]="selectedMap"
    [(paintMode)]="paintMode"
    [maps]="maps"
    (uploadMap)="uploadMap()"
    (deleteMap)="deleteMap($event)"
    (tokensUpdated)="updateTokens()"
    [(selectedToken)]="selectedToken">
</app-controls>

<!--<div id="mode-selection">
    <mat-button-toggle-group [(ngModel)]="selectedMode" (change)="onModeSelect()">
        <mat-button-toggle value="edit_fog">
            Edit Fog
        </mat-button-toggle>
        <mat-button-toggle value="move_tokens">
            Move Tokens
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>-->