/* You can add global styles to this file, and also import other style files */
html, body {
    overflow: hidden;
    margin: 0;
    background-color: #828282;
}


body { font-family: Roboto, "Helvetica Neue", sans-serif; }
